#!/bin/bash

pgdata=/var/lib/pgsql/{{ PG_VERSION }}/data
app_name=$(sudo su -c "psql -x -c \"SELECT * FROM pg_stat_replication\"" - postgres | grep '^application_name' | awk '{print $3}')
standby_name=$(sudo su -c "grep '^synchronous_standby_names' < $pgdata/postgresql.conf" - postgres | awk '{print $3}' | sed "s/'//g")

if [ "pa_basebackup" = $app_name ]; then
  exit
fi

if [ -z $app_name ] && [ $standby_name ]; then
#  echo 'secondary down to async_state'
  sudo su -c "sed -i \"s/^\(synchronous_standby_names\).*$/\1 = ''/\" $pgdata/postgresql.conf" - postgres
  sudo systemctl reload postgresql-{{ PG_VERSION }}.service
  exit
fi

if [ $app_name ] && [ -z $standby_name ]; then
#  echo 'secondary up to sync_state'
  sudo su -c "sed -i \"s/^\(synchronous_standby_names\).*$/\1 = '$app_name'/\" $pgdata/postgresql.conf" - postgres
  sudo systemctl reload postgresql-{{ PG_VERSION }}.service
  exit
fi

# echo 'replication helthey'
exit
